<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
  <!-- <listener class-name="spicejet.listeners"/> -->
   <listener class-name="Resources.ExtentReporterNG"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
     <!-- <class name="spicejet.BookingHotels"/>-->
      <!--<class name="spicejet.flightBooking"/>-->
      <class name="spicejet.spiceClubRegister"/>
    
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
